<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="th.ac.bodin.ppnt.englock">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="th.ac.bodin.ppnt.englock.englock"
        android:configChanges="locale"
        android:allowBackup="true"
        android:icon="@mipmap/englock_icon"
        android:label="@string/app_name"
        android:theme="@style/TestTheme">

        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIU1SVWn3awqckirfgXdm1Z0eEG_wgE5nowm3CMw" />
        
        <activity
            android:name=".MainActivity"
            android:label="@string/full_app_name"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:theme="@style/TestTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".WelcomeActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".FreeShopMenu"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".SettingsPop"
            android:theme="@style/ThemeGreen"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".LockscreenActivity"
            android:launchMode="singleInstance"
            android:excludeFromRecents="true"
            android:theme="@style/LockscreenTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LockscreenBeforeActivity"
            android:launchMode="singleInstance"
            android:excludeFromRecents="true"
            android:theme="@style/ThemePink"
            android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".utils.LockscreenService"
            android:exported="true" >
        </service>

        <receiver
            android:name=".utils.LockscreenIntentReceiver"
            android:exported="true">
        </receiver>
    </application>

</manifest>